<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments :: html_head"></th:block>
<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>
<header th:replace="fragments :: navbar"></header>
<div class="container text-center mt-4">
    <main class="form-signin">
        <form th:action="@{/processSignup}" th:object="${user}"
              method="post">
            <img class="mb-4" th:src="@{/images/whiskey-sour.png}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Create Account</h1>

            <div class="form-floating">
                <input th:field="*{email}" type="email" name="email" class="form-control"
                       id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input th:field="*{password}" type="password" name="password" class="form-control"
                       id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>
    </main>
</div>
</body>
</html>