<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">

</head>
<body>
<header th:replace="fragments :: navbar" />
<div class="container">

    <div class="row mt-4">
        <div class="col-3">
            <form th:action="@{/test}" method="get">
                <input type="text" id="ingredientSearch" name="ingredientName"
                       th:value="${ingredientName}"
                       class="form-control form-control-dark"
                       placeholder="Search by ingredient..." aria-label="Search">
            </form>
        </div>
        <div class="col-6">
            <h3 th:text="${ing}"></h3>
        </div>
    </div>
</div>
</body>